<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h1 class="text-white">良い住み方から素晴らしい町へ</h1>
    <h2 class="text-white">From a good way of living to a good town.</h2>
    <h3>
        <div class="col-md-offset-1 col-md-5">
          <%= link_to property_index_path do %>
            <%= image_tag 'Rent pqh8miee.png', size: '400x200', class: 'hoge' %>
          <% end %>
        </div>
        <div class="col-md-4">
          <%= link_to property_buy_path do %>
            <%= image_tag 'Buy pqh8miee.png', size: '400x200', class: 'hoge' %>
          <% end %>
        </div>
    </h3>
  </div>
</div>