.navbar-transparent {
  margin-bottom: 0px;
  background-color: rgba(0,0,0,0.5);
  a {
    color: #C0C0C0 !important;
  }

  .navbar-brand {
    padding: 0px;
    margin-top: 15px;
  }
   
  .navbar-right {
    padding: 0px;
   
  }
  
  img {
    height: 50px;
  }
}